# Build directories
/build

# Vim swap files
*.swp
*.swo

# VSCode settings and workspace files
.vscode/*
!/.vscode/settings.json
*.code-workspace

# Cache files
.cache/*

# Python cache files
__pycache__/